Repository shipwright-io/cli, pull requests merged in 2024-03, with the labels that each got.

#222 Fix unused variables
  pkg/shp/cmd/build/run_test.go
  pkg/shp/cmd/buildrun/logs_test.go
  pkg/shp/cmd/runner/runner_test.go
  pkg/shp/cmd/version/version.go
  pkg/shp/flags/build_test.go
  pkg/shp/flags/buildrun_test.go
  pkg/shp/params/params_test.go
  pkg/shp/reactor/pod_watcher_test.go
Labels: kind/failing-test, approved, size/M, lgtm, release-note-none

#227 Include GitHub Actions version in Dependabot setup
  .github/dependabot.yml
Labels: size/XS, kind/dependency-change, approved, lgtm, release-note-none

#239 SHIP-0038: Release Branch Workflow
  .github/workflows/release-branch.yml
Labels: size/S, kind/cleanup, approved, lgtm, release-note-none

#240 SHIP-0038: Add Git Ref to Release Workflow
  .github/workflows/release.yml
Labels: size/S, kind/cleanup, approved, lgtm, release-note-none

#225 updated go version to 1.21
  .github/actions/setup/action.yaml
  .github/workflows/release.yml
  go.mod
Labels: size/XS, approved, lgtm, release-note-none
